/* Write your CSS here. */
.wgs{
    position: relative;
    height: 482px;
    width: 640px;
}

.wgs__mole-head{
    position: absolute;
    height: 356px;
    width: 376px;
    left: 109px;
}

.wgs__dirt-pile{
    position: absolute;
    height: 220px;
    width: 640px;
    bottom: 0;
}